.edit .controller.ds4.white {
    background-image: url(https://drive.google.com/open?id=1sx-8XjVketXwBThIhUS92XaqLudKtIWP);
}


.edit .controller.ds4 {
    background: url(https://drive.google.com/open?id=1sx-8XjVketXwBThIhUS92XaqLudKtIWP);
}


.edit .ds4.white .button {
    background-image: url(https://drive.google.com/open?id=1DXx-4aMQRFcRh62bFZBmtN7zNVH4V6te);
}


.edit .ds4 .button {
    background: url(https://drive.google.com/open?id=1DXx-4aMQRFcRh62bFZBmtN7zNVH4V6te);
}
