.edit controller.ds4.white {
    background: url(https://PonderFN.github.io/base2.png);
}


.edit controller.ds4 {
    background: url(https://PonderFN.github.io/base2.png);
}


.edit ds4.white .button {
    background-image: url(https://PonderFN.github.io/Buttons2.png);
}


.edit ds4 .button {
    background-image: url(https://PonderFN.github.io/Buttons2.png);
}
